/* General Styles */

body {
    margin: 0
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.separator {
    margin: 40px auto;
    text-align: center;
}

footer {
    height: 100px;
}

/* Styles for Swiper, hero */
.swiper-container{
    &.hero {
        width: 100%;
        height: calc(100vw * 0.5);
        background-color: white;
    }

    .hero .swiper-slide {
        background-color: white;
    }


    /* Styles for each item, hero */
    &.hero .item .imagen {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }



    /* Styles for Swiper, first carousel instance*/

    &.i1 {
        width: 90%;
        height: calc((100vw/2 - 30px) * 0.8);
        background-color: white;
    }

    &.i1 .swiper-slide {
        text-align: center;
        font-size: 18px;
        background-color: white;
        margin-top: 10px !important
    }

    /* Styles for each item, first carousel instance */
    &.i1 .item {

        .imagen {
            height: 80%;
            object-fit: cover;
            width: 100%;
        }

        p {
            margin: 0 10px;
        }

        .texto {
            height: 12%;
            font-size: 1.7vw;
            text-align: left;
            font-weight: 500;
            background-color: rgb(194, 194, 194);
        }

        @media (max-width: 600px) {
            .texto {
                font-size: 3vw;
            }
        }
    }   
    &.i1 .swiper-pagination {
        bottom: -4px;
    }

    /* Second and 3th. Carousel Instance */

    &.i2, &.i3 {
        width: 90%;
        height: calc((100vw/2) * 0.6);
        background-color: white;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background-color: white;
            margin-top: 10px !important
        }

        .item{
            /* Styles for each item */
            .imagen {
                height: 77%;
                object-fit: cover;
                width: 100%;
            }
            p {
                margin: 0 10px;
            }
            .texto {
                @extend .texto;
                background-color: white;
            }
        }
        .swiper-pagination {
            bottom: 0px;
        }
    } 

    &.i3 {
        //height: 350px;
        .swiper-button-next {
            background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill-rule='evenodd' clip-rule='evenodd'><path d='M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 1c-6.071 0-11 4.929-11 11s4.929 11 11 11 11-4.929 11-11-4.929-11-11-11zm4.828 11.5l-4.608 3.763.679.737 6.101-5-6.112-5-.666.753 4.604 3.747h-11.826v1h11.828z'/></svg>") no-repeat;
            background-size: 41px;
            background-repeat: no-repeat;
            background-color: #d6d6d6;
            width: 40px;
            height: 41px;
            color: white;
            padding: 5px;
            background-position: center;
            filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(320deg) brightness(108%) contrast(101%);
            &:after{
                content: ' ';
            }
        }

    }
}


@media (max-width: 600px) {
    .swiper-container{
        &.hero {
        height: calc(100vw * 1.2);
        }


        &.i1 {
            height: calc((100vw/2 - 30px) * 3.2);
        }
        &.i1 .swiper-slide {
            height: 45%;
            background-color: white
        }
        &.i1 .swiper-pagination {
            bottom: 10px;
        }
        &.i2, &.i3 {
            height: calc((100vw/2) * 1.5);
            .swiper-slide {
                height: 90%;
                background-color: white;
            }
            .item .texto {
                font-size: 3vw;
            }
            .swiper-pagination {
                bottom: 15px;
            }
        }
    }
}

.fix-div{
    width: 600px;
    background-color: #ddfe9b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}